<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.0/css/all.min.css" integrity="sha512-3PN6gfRNZEX4YFyz+sIyTF6pGlQiryJu9NlGhu9LrLMQ7eDjNgudQoFDK3WSNAayeIKc6B8WXXpo4a7HqxjKwg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>HotelesApp</title>
</head>
<body style="background-color: rgb(232, 229, 229);">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container">
          <img src="../images/logo.png" alt="Logo del Aplicativo" width="100" height="50">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
              <a class="nav-link" href="#">Hoteles</a>
              <a class="nav-link" href="tipo-habitaciones.html">Tipo de Habitaciones</a>
              <a class="nav-link" href="acomodaciones.html">Acomodaciones</a>
            </div>
          </div>
        </div>
      </nav>

      <nav class="navbar navbar-expand-lg bg-light border-top border-gray-600">
        <div class="container">
          <a class="nav-link" href="#">Panel de Administración</a>
        </div>
      </nav>

      <div class="container">
        <div class="d-flex justify-content-center mt-5">
            <div class="card" style="width:100%;">
              <div class="card-body">

                <div class="d-flex text-center justify-content-between mb-4 p-2">
                    <h5 class="justify-content-center mx-3" style="font-size: 40px;"><i class="fas fa-door-open"></i> Tipo de Habitaciones</h5>
                </div>

                <table class="table table-striped text-center">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>
                      <th scope="col">NOMBRE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>JUNIOR</td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>ESTANDAR</td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>SUITE</td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>